<p>Enable federation with IdP <%= idp.displayName %>?</p>

<form action="/fastfed/setup/idp" method="post">
	<div>
  <% if (typeof state !== 'undefined') { %>
    <input type="hidden" name="state" value="<%= state %>"/>
  <% } %>
	<input type="submit" value="Allow"/>
  <input type="submit" name="cancel" value="Deny"/>
	</div>
</form>
